:root {
    /* SPACING */
    --space-0: 0;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-20: 80px;
    --space-24: 96px;
  
    /* BORDER */
    --border-width-1: 1px;
    --border-width-2: 2px;
  
    /* RADIUS */
    --radius-none: 0;
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;
    --radius-xl: 16px;
    --radius-2xl: 24px;
    --radius-full: 9999px;
  
    /* TYPE */
    --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --headings-h1-family: var(--font-family-base);
    --headings-h1-size: 32px;
    --headings-h1-size-rem: 2rem;
    --headings-h1-weight: 500;
    --headings-h1-style: normal;
    --headings-h1-line-height: 40px;
    --headings-h1-line-height-rem: 2.5rem;
    --headings-h2-family: var(--font-family-base);
    --headings-h2-size: 24px;
    --headings-h2-size-rem: 1.5rem;
    --headings-h2-weight: 500;
    --headings-h2-style: normal;
    --headings-h2-line-height: 32px;
    --headings-h2-line-height-rem: 2rem;
    --headings-h3-family: var(--font-family-base);
    --headings-h3-size: 16px;
    --headings-h3-size-rem: 1rem;
    --headings-h3-weight: 500;
    --headings-h3-style: normal;
    --headings-h3-line-height: 24px;
    --headings-h3-line-height-rem: 1.5rem;
    --headings-h4-family: var(--font-family-base);
    --headings-h4-size: 12px;
    --headings-h4-size-rem: 0.75rem;
    --headings-h4-weight: 500;
    --headings-h4-style: normal;
    --headings-h4-line-height: 20px;
    --headings-h4-line-height-rem: 1.25rem;
    --body-body-family: var(--font-family-base);
    --body-body-size: 14px;
    --body-body-size-rem: 0.875rem;
    --body-body-weight: 400;
    --body-body-style: normal;
    --body-body-line-height: 20px;
    --body-body-line-height-rem: 1.25rem;
    --body-body-medium-family: var(--font-family-base);
    --body-body-medium-size: 14px;
    --body-body-medium-size-rem: 0.875rem;
    --body-body-medium-weight: 500;
    --body-body-medium-style: normal;
    --body-body-medium-line-height: 20px;
    --body-body-medium-line-height-rem: 1.25rem;
    --body-small-body-family: var(--font-family-base);
    --body-small-body-size: 12px;
    --body-small-body-size-rem: 0.75rem;
    --body-small-body-weight: 400;
    --body-small-body-style: normal;
    --body-small-body-line-height: 16px;
    --body-small-body-line-height-rem: 1rem;
    --body-small-body-medium-family: var(--font-family-base);
    --body-small-body-medium-size: 12px;
    --body-small-body-medium-size-rem: 0.75rem;
    --body-small-body-medium-weight: 500;
    --body-small-body-medium-style: normal;
    --body-small-body-medium-line-height: 16px;
    --body-small-body-medium-line-height-rem: 1rem;
    --links-link-h3-default-family: var(--font-family-base);
    --links-link-h3-default-size: 16px;
    --links-link-h3-default-size-rem: 1rem;
    --links-link-h3-default-weight: 500;
    --links-link-h3-default-style: normal;
    --links-link-h3-default-line-height: 24px;
    --links-link-h3-default-line-height-rem: 1.5rem;
    --links-link-h3-hover-family: var(--font-family-base);
    --links-link-h3-hover-size: 16px;
    --links-link-h3-hover-size-rem: 1rem;
    --links-link-h3-hover-weight: 500;
    --links-link-h3-hover-style: normal;
    --links-link-h3-hover-line-height: 24px;
    --links-link-h3-hover-line-height-rem: 1.5rem;
    --links-link-body-medium-default-family: var(--font-family-base);
    --links-link-body-medium-default-size: 14px;
    --links-link-body-medium-default-size-rem: 0.875rem;
    --links-link-body-medium-default-weight: 500;
    --links-link-body-medium-default-style: normal;
    --links-link-body-medium-default-line-height: 20px;
    --links-link-body-medium-default-line-height-rem: 1.25rem;
    --links-link-body-medium-hover-family: var(--font-family-base);
    --links-link-body-medium-hover-size: 14px;
    --links-link-body-medium-hover-size-rem: 0.875rem;
    --links-link-body-medium-hover-weight: 500;
    --links-link-body-medium-hover-style: normal;
    --links-link-body-medium-hover-line-height: 20px;
    --links-link-body-medium-hover-line-height-rem: 1.25rem;
    --links-link-body-default-family: var(--font-family-base);
    --links-link-body-default-size: 14px;
    --links-link-body-default-size-rem: 0.875rem;
    --links-link-body-default-weight: 400;
    --links-link-body-default-style: normal;
    --links-link-body-default-line-height: 20px;
    --links-link-body-default-line-height-rem: 1.25rem;
    --links-link-body-hover-family: var(--font-family-base);
    --links-link-body-hover-size: 14px;
    --links-link-body-hover-size-rem: 0.875rem;
    --links-link-body-hover-weight: 400;
    --links-link-body-hover-style: normal;
    --links-link-body-hover-line-height: 20px;
    --links-link-body-hover-line-height-rem: 1.25rem;
    --links-link-small-body-medium-default-family: var(--font-family-base);
    --links-link-small-body-medium-default-size: 12px;
    --links-link-small-body-medium-default-size-rem: 0.75rem;
    --links-link-small-body-medium-default-weight: 500;
    --links-link-small-body-medium-default-style: normal;
    --links-link-small-body-medium-default-line-height: 16px;
    --links-link-small-body-medium-default-line-height-rem: 1rem;
    --links-link-small-body-medium-hover-family: var(--font-family-base);
    --links-link-small-body-medium-hover-size: 12px;
    --links-link-small-body-medium-hover-size-rem: 0.75rem;
    --links-link-small-body-medium-hover-weight: 500;
    --links-link-small-body-medium-hover-style: normal;
    --links-link-small-body-medium-hover-line-height: 16px;
    --links-link-small-body-medium-hover-line-height-rem: 1rem;
    --additional-badge-family: var(--font-family-base);
    --additional-badge-size: 11px;
    --additional-badge-size-rem: 0.6875rem;
    --additional-badge-weight: 500;
    --additional-badge-style: normal;
    --additional-badge-letter-spacing: 1px;
    --additional-badge-letter-spacing-rem: 0.0625rem;
    --additional-badge-line-height: 16px;
    --additional-badge-line-height-rem: 1rem;
    --additional-button-family: var(--font-family-base);
    --additional-button-size: 12px;
    --additional-button-size-rem: 0.75rem;
    --additional-button-weight: 500;
    --additional-button-style: normal;
    --additional-button-letter-spacing: 1px;
    --additional-button-letter-spacing-rem: 0.0625rem;
    --additional-button-line-height: 20px;
    --additional-button-line-height-rem: 1.25rem;
    --code-block-code-block-body-family: "SF Mono";
    --code-block-code-block-body-size: 14px;
    --code-block-code-block-body-size-rem: 0.875rem;
    --code-block-code-block-body-weight: 400;
    --code-block-code-block-body-style: normal;
    --code-block-code-block-body-line-height: 20px;
    --code-block-code-block-body-line-height-rem: 1.25rem;
  
    /* SHADOWS */
    --active-element: 0 0 0 4px rgba(31 143 255 / 0.2);
    --card-shadow: 0 3px 3px 0 rgba(34 37 41 / 0.08);
    --dialog-shadow: 0 3px 4px 0 rgba(34 37 41 / 0.12);
}